// Code
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Fira+Sans:wght@600&family=Montserrat:wght@700&family=Mulish:wght@600&family=Overlock:wght@700&display=swap');

// Variables
@white : #F5F5F5;
@grey : #dcdcdc;
@blue : #a299ff;
@purple : #8784AE;
@red: #E17E7C;
@black : #231F20;
@white_blue:rgb(241, 240, 255);

@title-font: 'Montserrat', sans-serif;
@subtitle-font: 'Mulish', sans-serif;
@body-font: 'Catamaran', sans-serif;

body {
        background-color: @white_blue;
        color: @black;
        font-family: @body-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        height: 100%;
}



nav {
        background-color: @white_blue;

        .navbar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100vw;
                align-items: center;
                height: 10vh;
                margin: 0vw;
                font-family: @title-font;
                font-size: 2vh;
                font-weight: 700;
                color: @black;
                text-transform: capitalize;
                .logo-main {
                        margin: 0 10px;
                        width: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                                height: 6vh;
                                width: auto;
                        }

                        ;

                        p {
                                font-family: @title-font;
                                font-size: 2.5vh;
                                font-weight: 700;
                                color: @black;
                                margin: 0 10px;
                                padding: 0;
                        }
                }
                .separator{
                        background-color: rgba(0, 0, 0, 0.212);
                        height:3px;
                        width:40vw;
                        margin:20px auto 10px auto;
                }
                .item a{
                        text-decoration: none;
                }
                .selected{
                        color:@blue;
                        border-bottom: 2px solid @blue;
                }

                .menu {
                    display:flex;
                        flex-direction: row;
                        align-items: center;
                        width:90vw;
                        justify-content: space-between;
                        margin-left: 5vw;

                }

                .play-container {

                        i {

                                padding: 10px 20px;
                                color: @black;
                                font-size: 2.5vh;


                        }
                        .play-button {
                            font-family: @title-font;
                            text-transform: capitalize;
                            font-size: 2vh;
                            font-weight: 700;
                            color: @white;
                            text-align: center;
                            letter-spacing: 0px;
                            background-color: @blue;
                            width: 20vw;
                            padding: 10px;
                            border: none;
                            border-radius: 15px;
                            //display: none;
                    }

                        i:hover {
                                cursor: pointer;
                        }
                }
        }
}




main{

        .div_scaner_title{
                //background-color: pink;
                font-family: @title-font;
                font-size: 20px;
                margin: calc(25vh - 120px) calc(50vw - 150px);
                position: absolute;
                text-align: center;
                width: 300px;
                background-color: @white;
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 25%);
                border-radius:30px;
                height:300px;
                z-index: -1;
                p {
                        margin: 0;
                }

        }
        .div_scaner_title{
                display:flex;
                flex-direction: column;
                justify-content: top;
                
                .div_scaner_title_txt{
                        width:100%;
                        height:10vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: top;
                        font-family: @title-font;
                        font-weight: 700;
                        color: @blue;
                        margin: 0;
                        padding:0;
                        font-size: 100px;
                }
                
        }


        #qr-display{
          box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
          border-collapse: collapse;
          display: flex;
          justify-content: center;
          margin: 25vh calc(50vw - 150px);
          position: absolute;
          border-radius: 30px;
          height: 300px;

            canvas{
              border-radius: 30px;
              max-width: 100%;
              max-height: 300px;
            }

          &.paused::after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-size: 120px;
            font-weight: 700;
            color: @white_blue;
            content: '\f029';
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            height: 300px;
            width: 300px;
            max-height: 300px;
            background-color: #00000054;
          }

          &.camera-not-available::after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-size: 120px;
            font-weight: 700;
            color: @white_blue;
            content: '\f030';
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            height: 300px;
            width: 300px;
            max-height: 300px;
            background-color: @blue;
            cursor: pointer;
          }
        }



        .instructions{
                position: absolute;
                bottom: 0;
                width:80vw;
                margin-left: 10vw;

                // display:none;
                height:auto;
                margin:2vh 10vw;
                text-align: center;
                color: @black;
                font-family: @subtitle-font;
                font-size: 1.7vh;
                font-weight: 600;
                font-style: italic;

        }
}

.box {
	background-color: rgba( 255, 248, 0, 0.2 ) ;
	border-radius: 2px 2px 2px 2px ;
	box-sizing: border-box ;
	outline: 1px dashed #ff0000 ;
	outline-offset: 1px ;
	pointer-events: none ;
	position: fixed ;
}

code {
  padding: 3px;
  border-radius: 7px;
  color: @white_blue;
  background: @blue;

  &.bg-success {
    background: #0a852e;
  }
}

[text-to-clipboard] {
    cursor: pointer;
}