@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexU1WwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overlock/v15/Z9XSDmdMWRiN1_T9Z7xizcmM.ttf) format('truetype');
}
body {
  background-color: #f1f0ff;
  color: #231F20;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #f1f0ff;
}
nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  height: 10vh;
  margin: 0vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  font-weight: 700;
  color: #231F20;
  text-transform: capitalize;
}
nav .navbar .logo-main {
  margin: 0 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .navbar .logo-main img {
  height: 6vh;
  width: auto;
}
nav .navbar .logo-main p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  font-weight: 700;
  color: #231F20;
  margin: 0 10px;
  padding: 0;
}
nav .navbar .separator {
  background-color: rgba(0, 0, 0, 0.212);
  height: 3px;
  width: 40vw;
  margin: 20px auto 10px auto;
}
nav .navbar .item a {
  text-decoration: none;
}
nav .navbar .selected {
  color: #a299ff;
  border-bottom: 2px solid #a299ff;
}
nav .navbar .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  margin-left: 5vw;
}
nav .navbar .play-container i {
  padding: 10px 20px;
  color: #231F20;
  font-size: 2.5vh;
}
nav .navbar .play-container .play-button {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 2vh;
  font-weight: 700;
  color: #F5F5F5;
  text-align: center;
  letter-spacing: 0px;
  background-color: #a299ff;
  width: 20vw;
  padding: 10px;
  border: none;
  border-radius: 15px;
}
nav .navbar .play-container i:hover {
  cursor: pointer;
}
main .div_scaner_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: calc(17vh - 120px) calc(50vw - 150px);
  position: absolute;
  text-align: center;
  width: 300px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 300px;
  z-index: -1;
}
main .div_scaner_title p {
  margin: 0;
}
main .div_scaner_title {
  display: flex;
  flex-direction: column;
  justify-content: top;
}
main .div_scaner_title .div_scaner_title_txt {
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #a299ff;
  margin: 0;
  padding: 0;
}
main #qr-display {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin: 17vh calc(50vw - 150px);
  position: absolute;
  border-radius: 30px;
}
main #qr-display canvas {
  border-radius: 30px;
  max-width: 100%;
  max-height: 300px;
}
main .camera_help {
  position: absolute;
  bottom: 20%;
  width: 80vw;
  margin-left: 10vw;
  height: auto;
  margin: 5vh 10vw;
  text-align: center;
  color: #E17E7C;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7vh;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
}
main .instructions {
  position: absolute;
  bottom: 0;
  width: 80vw;
  margin-left: 10vw;
  height: auto;
  margin: 5vh 10vw;
  text-align: center;
  color: #231F20;
  font-family: 'Mulish', sans-serif;
  font-size: 1.7vh;
  font-weight: 600;
  font-style: italic;
}
